<!--NAVGAÇÃO-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">Profissa  - Produtos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" [routerLink]="['/produtos']">Produtos</a>
        <a class="nav-link" routerLink="sobre">Sobre</a>
<!--        <a class="nav-link" href="http://localhost:8080/swagger-ui.html#/">Swagger</a>-->
        <a class="nav-link" href="https://api-rest-produtos-jra-production.up.railway.app/swagger-ui.html#/">Swagger</a>

      </div>

    </div>
  </div>
</nav>
<!--FIM DA NAVEGAÇÃO-->
